<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=hashtagredis;AccountKey=+1DBfTjOEisXv8z5agsZZlcV+opJsaILERc09+C8tEg6zhulM15NQmVNXKg1o24ku+HzAUrVpW31hVKEYo+4gA==" />
  </appSettings>
</configuration>
