body {
    font-family: @font-fancy;
    font-size: 14px;
}

p {
    line-height: 1.2em;
    margin: .3em 0;
}

h1 {
    font-family: @font-fancy;
    font-size: 40px;
    line-height: 1.0em;
    margin: .4em 0;
}