.section-main {
    background: url(../img/scott-guthrie-blur.jpg) 100% 0; 
    color: @htr-white;
    min-height: 500px;

    .content{
        position: relative;

        .btn {
            left: 0;
            position: absolute;
            top: 350px;
        }
    }

    .logo,
    .mission-statement { text-shadow: 0px 0px 10px @htr-black; }
}

.section-main-short {
    background: url(../img/scott-guthrie-blur.jpg) 100% 0; 
    color: @htr-white;
    min-height: 100px;

    .content{ position: relative; }
}

.section-promise {
    p { margin: 1em 0; }
}